body, html {
  height: 100%;
  background: #f8f9fa;
  font-family: 'Segoe UI', sans-serif;
}

.chat {
  margin-top: 50px;
}

.msg_card_body {
  overflow-y: auto;
  height: 500px;
  background: #e4e4e4;
  padding: 10px;
}

.msg_cotainer, .msg_cotainer_send {
  border-radius: 25px;
  padding: 10px 15px;
  position: relative;
  max-width: 75%;
}

.msg_cotainer {
  background-color: #82ccdd;
  color: #fff;
}

.msg_cotainer_send {
  background-color: #78e08f;
  color: #fff;
  margin-left: auto;
}

.msg_time, .msg_time_send {
  position: absolute;
  bottom: -20px;
  font-size: 10px;
  color: #777;
}

.send_btn {
  background-color: #78e08f;
  color: white;
  border: none;
  border-radius: 50%;
}

.user_img, .user_img_msg {
  height: 45px;
  width: 45px;
  border: 1.5px solid #f5f6fa;
}

.online_icon {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: #4cd137;
  border-radius: 50%;
  bottom: 0.2em;
  right: 0.3em;
}
